extends layout

block content
	div(id="about_me")
		p= "Im Daniel and im currently a student at Victoria University of Wellington. I am persuing a BSc with a double major in Computer Sciencec and Mathematics."
