extends layout

block headtags
	link(rel='stylesheet', href='/stylesheets/newproject.css')

block content
	div(id="new_project_form", class="col-sm-6 col-sm-offset-3")
		div(id="form_title")= "New Project"

		form(method="post", class="form_group")
			div(class="input-group input-group-lg col-sm-10 col-sm-offset-1")
				input(type="text", name="project_name", class="form-control", placeholder="Project Name")

			div(class="input-group input-group-lg col-sm-10 col-sm-offset-1")
				input(type="text", name="project_desc", class="form-control", placeholder="Project Desc")

			div(class="input-group input-group-lg col-sm-10 col-sm-offset-1")
				input(type="text", name="url", class="form-control", placeholder="URL")

			div(class="input-group input-group-lg col-sm-10 col-sm-offset-1")
				input(type="text", name="giturl", class="form-control", placeholder="Git URL")

			div(class="languages input-group input-group-lg col-sm-12")
				- for(var lang in languages)
					div(class="language_selector col-sm-4")
						div(class="input_group")
							div(class="language_name")= languages[lang]
								
							div(class="language_checkbox")
								input(type="checkbox", name=("language_" + lang) )

			div(class="btn-group btn-group-lg")
				button(type="submit", class="btn btn-primary")= "Create"
		
