extends layout

block headtags
	link(rel='stylesheet', href='/stylesheets/projects.css')

block content
	div(class="col-sm-10 col-sm-offset-1")
		- for (var p in projects)
			div(class="project")
				div(class="project_information")
					div(class="project_title_name")= projects[p].name
					div(class="project_title_desc")= projects[p].description

				div(class="project_buttons")
					if (projects[p].url != null)
						div(class="btn btn-default", href=projects[p].url)= "URL"
					
					if (projects[p].description != null)
						div(href=projects[p].giturl)= projects[p].giturl


					
				
