.title {
	color: rgba(0, 0, 0, 0.7);
	font-size: 35px;
	font-weight: bold;

	margin-bottom: 10px;

}

#profile_picture {
	width: 120px;
	height: 120px;

	margin-left: 15px;
	margin-bottom: 20px;

	border-radius: 50%;

	/*background-image: url(../images/photo.jpg);*/
}

#resume {
	margin-top: 10px;
}

.contact_option {
	width: 100%;

	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;

	clear: both;
}

.icon {
	width: 32px;
	height: 32px;

	margin-right: 10px;
}

.contact_link {
	height: 32px;
	
	line-height: 32px;

	float: left;
}

.sub_title {
	color: rgba(0, 0, 0, 0.7);
	font-size: 16px;
	font-weight: bold;
	
	margin-top: 20px;
	margin-bottom: 2px;
}

.project {
	margin-bottom: 50px;
	clear: both;
}

.project_image {
	width: 180px;
	height: 180px;

	float: left;

	margin-right: 20px;
}

.project_details {
	float: left;

	margin-top: 20px;
}

.project_title {
	margin-top: 20px;
	margin-bottom: 20px;
}

.project_title_name {
	font-size: 30px;
	font-weight: bold;

	color: rgba(0, 0, 0, 0.7);
}

.project_title_desc {
	font-size: 15px;
	color: rgba(0, 0, 0, 0.4);
}

.project_buttons .btn {
	margin-right: 20px;
	margin-top: 20px;
}

#fetured_projects {
	margin-top: 30px;
}

#academic_record {
	margin-top: 10px;
}
