input {
	margin-top: 20px;
}

.languages {
	margin-top: 20px;
	margin-bottom: 20px;
}

.language_selector {
	text-align: center;
}

#form_title {
	padding-bottom: 10px;

	text-align: center;
	font-weight: bold;
	font-size: 500%;
	color: rgba(0, 0, 0, 0.8);

	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#new_project_form {
	text-align: center;
}
